.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5f5f5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5f5f5;
	box-shadow:inset 0px 1px 0px 0px #f5f5f5;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e6e6e6), color-stop(1, #f7f7f7));
	background:-moz-linear-gradient(top, #e6e6e6 5%, #f7f7f7 100%);
	background:-webkit-linear-gradient(top, #e6e6e6 5%, #f7f7f7 100%);
	background:-o-linear-gradient(top, #e6e6e6 5%, #f7f7f7 100%);
	background:-ms-linear-gradient(top, #e6e6e6 5%, #f7f7f7 100%);
	background:linear-gradient(to bottom, #e6e6e6 5%, #f7f7f7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#f7f7f7',GradientType=0);
	background-color:#e6e6e6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:1em;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	white-space: nowrap;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #e6e6e6));
	background:-moz-linear-gradient(top, #f7f7f7 5%, #e6e6e6 100%);
	background:-webkit-linear-gradient(top, #f7f7f7 5%, #e6e6e6 100%);
	background:-o-linear-gradient(top, #f7f7f7 5%, #e6e6e6 100%);
	background:-ms-linear-gradient(top, #f7f7f7 5%, #e6e6e6 100%);
	background:linear-gradient(to bottom, #f7f7f7 5%, #e6e6e6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e6e6e6',GradientType=0);
	background-color:#f7f7f7;
}
.button:active {
	position:relative;
	top:1px;
}


.title {
  text-align: left;
  font-weight: bold;
  font-size: 1em;
}

.notice {
  font-size: 1em;
}

body {
  font-family: Sans-serif, Helvetica, Arial;
  background-color:#ffffff;
  color: black;
  font-size: 1em;
}

table {
  vertical-align: middle;
  text-align: center;
  border-spacing: 5px 10px;
}

a:link {
  text-decoration: none;
}
a.active:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a.active:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a.on:hover {
  text-decoration: none;
}
a.off:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

}

